<%- include('partials/head') %>
<%- include('partials/header') %>
<main>
<h1><%= title %>:</h1>
<div class="item-grid">
    <form action="/dashboard/items/sort" method="GET">
        <button type="submit" name="sort" value="category" class="item-heading"  id="<%= locals.sort === 'category' ? 'active' : ''%>">Category<span class="material-symbols-outlined"><%= locals.order === 'desc' ? 'arrow_drop_up' : 'arrow_drop_down' %></span></button>
        <input type="hidden" name="order" value="<%= locals.order === 'desc' ? 'asc' : 'desc'%>">
    </form>
        <form action="/dashboard/items/sort" method="GET">
        <button type="submit" name="sort" value="name" class="item-heading" id="<%= !locals.sort || locals.sort === 'name' ? 'active' : ''%>">Name<span class="material-symbols-outlined"><%= !locals.order || locals.order === 'desc' ? 'arrow_drop_up' : 'arrow_drop_down' %></span></button>
        <input type="hidden" name="order" value="<%= locals.order === 'desc' ? 'asc' : 'desc'%>">
    </form>
        <form action="/dashboard/items/sort" method="GET">
        <button type="submit" name="sort" value="price" class="item-heading" id="<%= locals.sort === 'price' ? 'active' : ''%>">Price<span class="material-symbols-outlined"><%= locals.order === 'desc' ? 'arrow_drop_up' : 'arrow_drop_down' %></span></button>
        <input type="hidden" name="order" value="<%= locals.order === 'desc' ? 'asc' : 'desc'%>">
    </form>
        <form action="/dashboard/items/sort" method="GET">
        <button type="submit" name="sort" value="quantity" class="item-heading" id="<%= locals.sort === 'quantity' ? 'active' : ''%>" >Quantity<span class="material-symbols-outlined"><%= locals.order === 'desc' ? 'arrow_drop_up' : 'arrow_drop_down' %></span></button>
        <input type="hidden" name="order" value="<%= locals.order === 'desc' ? 'asc' : 'desc'%>">
    </form>
        <p class="info-heading">Info</p>    

    <% if(!items[0].item_name) { %>
        <p>This category has no items!</p>

        <% } else { %>
        <% items.forEach(item => { %>
            <p><%= item.cat_name %></p>
            <p><%= item.item_name %></p>
            <p>£<%= item.price %></p>
            <p><%= item.quantity %></p>
            <a href="/dashboard/items/<%= item.id%>" class="material-symbols-outlined">info</a>   
        <% }) %>
    <% } %>
</div>
</main>
<%- include('partials/footer') %>